{% extends 'base.html' %}

{% block body %}
<div class="main">
    <input type="checkbox" id-"chk" aria-hidden="true">
    <div class="signup">
        <form>
            <Label for="chk* aria-hidden= " true">Sign up</label>
            <input type="text" name="txt" placeholder="User name" required="">
            <input type="email" name="email" placeholder="Email" required-*">
            <input type="Password" names "pswd" placeholder "Password" required-"">
            <button>Sign up</button>
        </form>
    </div>
    <div class="login">
        <Form> <label for="chk" aria-hidden="true"></label>Login</label>
            <input type="email" name="email" placeholder="Email" required-**>
            <input type="Password" name="pswd" placeholder="Password" required="">
            <button>Lok/button>
        </Form>
    </div>


    {% endblock body %}